body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  color: #22343d;
  background-color: #fff;
}

/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* common */

.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

button {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

/* #region Header */
.header-container {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}

.header-logo {
  padding-top: 26px;
  padding-bottom: 26px;
  margin-right: 237px;
}

.header-nav {
  margin-right: auto;
}

.header-nav-list {
  display: flex;
  gap: 30px;
}

.header-list-item {
  color: #22343d;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
}

.header-item-link {
  display: block;
  padding: 26px 0;
  color: #22343d;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
}

.header-btn-list {
  display: flex;
  align-items: center;
  gap: 21px;
}

.header-btn-list-item {
}
.header-btn {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  min-width: 105px;
  height: 42px;
  font-family: inherit;
  font-weight: 600;
  text-align: center;
  color: #173a56;
  background-color: transparent;
}

.current {
  font-weight: 600;
}
.header-btn-list {
  display: flex;
  gap: 21px;
}

.header-btn:hover,
.header-btn:focus {
  background-color: #02897a;
  color: #fff;
  border-color: transparent;
}
/* #endregion Header */

/* #region Our Clients  */
.clients-customers-section {
  padding-top: 100px;
  padding-bottom: 117px;
}

.clients-customers-title {
  font-weight: 700;
  font-size: 40px;
  color: #22343d;
  text-align: center;
  margin-bottom: 50px;
}
.clients-customers-list {
  display: flex;
  align-items: center;
  gap: 64px;
  justify-content: center;
}

.clients-customers-list-item {
}
.clients-customers-logo {
}
/* #endregion Our Clients  */

/* #region Why Choose */
.why-choose-section {
  padding-top: 24px;
  padding-bottom: 68px;
  background-color: #f5f5f5;
}
.container {
}
.why-choose-title {
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  color: #22343d;
  text-transform: capitalize;
}

.why-choose-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.why-choose-list-item {
  flex-basis: calc((100% - 60px) / 3);
  border: 1px solid #dedede;
  border-radius: 10px;
  padding: 40px 50px;
  width: 350px;
  padding-top: 32px;
  padding-bottom: 34px;
}

.why-choose-image {
  margin: 0 auto 32px;
}

.why-choose-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.375;
  letter-spacing: 0em;
  text-align: center;
  color: #22343d;
  margin-bottom: 16px;
}
.why-choose-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6875;
  letter-spacing: 0.01em;
  text-align: center;
  color: #22343d;
}
/* #endregion Why Choose */

/* #region How Product Work? */
.how-work-section {
  padding-top: 101px;
  padding-bottom: 150px;
}

.container {
}

.how-work-title {
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  color: #22343d;
  text-transform: capitalize;
  margin-bottom: 73px;
}

.how-work-list {
}

.how-work-list-item {
  display: flex;
  align-items: center;
  gap: 89px;
  margin-bottom: 100px;
}
.how-work-step-container {
}
.how-work-image {
}
.how-work-step {
  font-weight: 500;
  font-size: 20px;
  color: #22343d;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.how-work-subtitle {
  font-weight: 600;
  font-size: 24px;
  color: #22343d;
  margin-bottom: 16px;
}
.how-work-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
  max-width: 438px;
}
.how-work-button {
  display: block;
  border-radius: 8px;
  border: none;
  width: 224px;
  height: 44px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}
/* #endregion How Product Work? */

/* #region received offers*/
.offers-section {
  padding-bottom: 195px;
}
.container {
}
.offers-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  max-width: 537px;
  margin: 0 auto 93px;
}

.offers-list {
  display: flex;
  align-items: center;
  gap: 226px;
  justify-content: center;
}

.offers-list-item {
}

.offers-images {
  margin: 0 auto 27px;
}

.offers-subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: #000;
  text-align: center;
  margin-bottom: 16px;
}

.offers-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.78;
  text-align: center;
  color: #22343d;
  margin-bottom: 12px;
}

.offers-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  color: #000;
  text-align: center;
}

/* #endregion received offers */

/* #region Join */
.join-section {
  margin-bottom: 83px;
}

.green-container {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #02897a;
  border-radius: 32px;
  width: 968px;
  height: 345px;
  margin-left: auto;
  margin-right: auto;
}

.join-title-btn-container {
  padding-top: 49px;
  padding-left: 51px;
  padding-bottom: 56px;
}

.join-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.514;
  color: #fff;
  max-width: 510px;
  margin-bottom: 46px;
}
.capitalize {
  text-transform: capitalize;
}

.join-btn {
  display: block;
  font-weight: 600;
  font-size: 20px;
  color: #02897a;
  text-transform: capitalize;
  border-radius: 8px;
  border: none;
  width: 150px;
  height: 50px;
  background-color: #fff;
}

.join-image {
  padding-top: 4px;
  padding-right: 46px;
  padding-bottom: 10px;
}
/* #endregion Join */

/* #region Footer */
.footer-section {
  padding-bottom: 44px;
}

.footer-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 3px;
}

.logo-social-link {
  /* max-width: 163px; */
  margin-right: 161px;
}

.resource-link {
  /* max-width: 118px; */
  margin-right: 129px;
}

.stuff-link {
  /* max-width: 131px; */
  margin-right: 82px;
}

.sign-up {
  max-width: 325px;
}

.logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
}

.footer-logo {
  margin-bottom: 22px;
}

.footer-icon-list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-icon-item {
}

.footer-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #22343d;
}
.footer-list {
}
.footer-list-item {
}
.footer-item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.1875;
  color: #22343d;
}
.footer-enter-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #02897a;
}
.footer-button {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background-color: #02897a;
  width: 131px;
  height: 39px;
  border-radius: 4px;
  border: none;
}
.footer-right-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: #22343d;
  text-transform: capitalize;
  text-align: center;
}
/* #endregion Footer */
